

/* Header */
.navbar,.navbar-light
{
    position: absolute;
    width: 180px;
    height: 55px;
    left: 77px;
    top: 20px;
} 

 .container-fluid .navbar-brand,.h1
{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
} 
/* Header */

/* section 1 */
.image
{
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
    background-image: url(/img/Scarecrow.png);
    background-repeat: no-repeat;
    width: 539px;
    height: 447px;
}


 .typo
 {
    position: absolute;
    width: 650px;
    height: 190px;
    left: 740px;
    top: 225px;
 }

 .typo p
 {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
    
 }
/* section 1 */


/* section 2 */
.typo-2
{
    position: absolute;
    width: 381px;
    height: 108px;
    left: 740px;
    top: 491px;
}

.typo-2 p
{
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.btn button
{
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    background: #333333;
    border: none;
}

button p
{
    color: #ffff;
    margin: auto;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

}

/* section 2 */

/* footer */
.footer
{
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 97%;
}

.footer p
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;

}
/* footer */



/* mobile mode */
@media(max-width: 800px)
{
    /* Header */
    .navbar,.navbar-light
    {
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;
    } 
   
   /* Header */

   /* section 1 */
    .image
   {
    position: absolute;
    margin: auto;
   
    background-image: url(/img/Scarecrow2.png);
    width: 287px;
    height: 238px;
   }

   .typo
   {
    position: absolute;
    width: 350px;
    height: 142px;
    left: 24px;
    top: 407px;
   }

   .typo p
    {
        
        font-size: 48px;
        line-height: 71px; 
    }
   /* section 1 */

   /* section 2 */
    .typo-2
    {
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
    }

    .typo-2 p
    {
        font-size: 18px;
        line-height: 27px;
    }


    .btn button
    {
        position: absolute;
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
    }
    /* section 2 */


    /* footer */
    .footer
    {
        position: absolute;
        width: 287px;
        height: 17px;
        left: 11.73%;
        right: 11.78%;
        top: 890px;
    }
    /* footer */
}
/* mobile mode */
